<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('班级成绩列表')" />
    <th:block th:include="include :: select2-css" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>班级名称：</label>
                                <div class="col-xs-4">
                                    <select name="claName" id="claName" class="form-control" th:with="cla=${@claService.selectCla()}">
                                        <optgroup label="--请选择班级--"></optgroup>
                                        <option th:each="c:${cla}" th:value="${c.claName}" th:text="${c.claName}">
                                        </option>
                                    </select>
                                </div>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:classruninfo:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
     <th:block th:include="include :: select2-js" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:classruninfo:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:classruninfo:remove')}]];
        var prefix = ctx + "system/classruninfo";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "班级成绩",
                columns: [{
                    checkbox: true
                },
                {
                     field: 'termName',
                     title: '学期'
                 },
                 {
                     field: 'claName',
                     title: '班级'
                 },
                {
                    field: 'stuNo',
                    title: '学号'
                },
                {
                    field: 'stuName',
                    title: '姓名'
                },
                {
                    field: 'stuSex',
                    title: '性别'
                },
                {
                    field: 'runcount',
                    title: '跑步次数'
                },
                 {
                        field: 'remark',
                        title: '备注'
                 },
               ]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>