<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.CqieClaMapper">
    
    <resultMap type="CqieCla" id="CqieClaResult">
        <result property="claId"    column="cla_id"    />
        <result property="claDeptId"    column="cla_dept_id"    />
        <result property="claName"    column="cla_name"    />
        <result property="claAddtime"    column="cla_addtime"    />
        <result property="claRemark"    column="cla_remark"    />
        <association property="dept"    column="dept_id" javaType="SysDept" resultMap="deptResult" />
    </resultMap>

    <resultMap id="deptResult" type="SysDept">
        <id     property="deptId"   column="dept_id"     />
        <result property="parentId" column="parent_id"   />
        <result property="deptName" column="dept_name"   />
        <result property="orderNum" column="order_num"   />
        <result property="leader"   column="leader"      />
        <result property="status"   column="dept_status" />
    </resultMap>

    <sql id="selectCqieClaVo">
        select c.cla_id, c.cla_dept_id, c.cla_name, c.cla_addtime, c.cla_remark,
                d.dept_id, d.parent_id, d.dept_name, d.order_num, d.leader, d.status as dept_status
         from cqie_cla c
                left join sys_dept d on c.cla_dept_id = d.dept_id
    </sql>

    <select id="selectCqieClaList" parameterType="CqieCla" resultMap="CqieClaResult">
        <include refid="selectCqieClaVo"/>
        <where>
            <if test="claDeptId != null  and claDeptId > 100"> and c.cla_dept_id = #{claDeptId}</if>
            <if test="claName != null  and claName != ''"> and cla_name like concat('%', #{claName}, '%')</if>
        </where>
    </select>
    
    <select id="selectCqieClaById" parameterType="Integer" resultMap="CqieClaResult">
        <include refid="selectCqieClaVo"/>
        where cla_id = #{claId}
    </select>
        
    <insert id="insertCqieCla" parameterType="CqieCla" useGeneratedKeys="true" keyProperty="claId">
        insert into cqie_cla
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="claDeptId != null">cla_dept_id,</if>
            <if test="claName != null">cla_name,</if>
            <if test="claAddtime != null">cla_addtime,</if>
            <if test="claRemark != null">cla_remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="claDeptId != null">#{claDeptId},</if>
            <if test="claName != null">#{claName},</if>
            <if test="claAddtime != null">#{claAddtime},</if>
            <if test="claRemark != null">#{claRemark},</if>
         </trim>
    </insert>

    <update id="updateCqieCla" parameterType="CqieCla">
        update cqie_cla
        <trim prefix="SET" suffixOverrides=",">
            <if test="claDeptId != null">cla_dept_id = #{claDeptId},</if>
            <if test="claName != null">cla_name = #{claName},</if>
            <if test="claAddtime != null">cla_addtime = #{claAddtime},</if>
            <if test="claRemark != null">cla_remark = #{claRemark},</if>
        </trim>
        where cla_id = #{claId}
    </update>

    <delete id="deleteCqieClaById" parameterType="Integer">
        delete from cqie_cla where cla_id = #{claId}
    </delete>

    <delete id="deleteCqieClaByIds" parameterType="String">
        delete from cqie_cla where cla_id in 
        <foreach item="claId" collection="array" open="(" separator="," close=")">
            #{claId}
        </foreach>
    </delete>

    <select id="selectCqieclabyteaId" parameterType="Long" resultMap="CqieClaResult">
      SELECT distinct
      cc.cla_id, cc.cla_dept_id, cc.cla_name, cc.cla_addtime, cc.cla_remark,
      d.dept_id, d.parent_id, d.dept_name, d.order_num, d.leader, d.status as dept_status
      from cqie_cla cc
      join sys_dept d on d.dept_id = cc.cla_dept_id
      join cqie_class_teacher ct on ct.clatea_cla_id=cc.cla_id
      join sys_user u on u.user_id=ct.clatea_tea_id
      where u.user_id= #{userId}
    </select>

</mapper>