<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.CqieScoreMapper">

    <resultMap type="CqieScore" id="CqieScoreResult">
        <result property="scoreId"    column="score_id"    />
        <result property="scoreTermId"    column="score_term_id"    />
        <result property="scoreStudentId"    column="score_student_id"    />
        <result property="scoreCounts"    column="score_counts"    />
        <result property="scoreResult"    column="score_result"    />
        <result property="scoreRemark" column="score_remark"/>
        <association property="student" column="stu_id" resultMap="studentResult"/>
        <association property="cqieClassStudent" column="clastu_id" resultMap="cqieClassStudentResult"/>
        <association property="cqieCla" column="cla_id" resultMap="claResult"/>
        <association property="cqieRun" column="run_id" resultMap="runResult"/>
        <association property="cqieTerm" column="term_id" resultMap="cqieTermResult"/>
    </resultMap>

    <resultMap id="studentResult" type="CqieStudent">
        <id property="stuId" column="stu_id"/>
        <result property="stuNo" column="stu_no"/>
        <result property="stuPassword" column="stu_password"/>
        <result property="stuName" column="stu_name"/>
        <result property="stuSex" column="stu_sex"/>
    </resultMap>

    <resultMap id="cqieClassStudentResult" type="CqieClassStudent">
        <id property="claStuId" column="clastu_id"/>
        <result property="claId" column="clastu_cla_id"/>
        <result property="clastuStuId" column="clastu_stu_id"/>
        <result property="clastuAddtime" column="clastu_addtime"/>
        <result property="clastuRemark" column="clastu_remark"/>
    </resultMap>

    <resultMap id="claResult" type="CqieCla">
        <id property="claId" column="cla_id"/>
        <result property="claName" column="cla_name"/>
        <result property="claDeptId" column="cla_dept_id"/>
        <result property="claName" column="cla_name"/>
        <result property="claAddtime" column="cla_addtime"/>
        <result property="claRemark" column="cla_remark"/>
    </resultMap>

    <resultMap type="cqieRun" id="runResult">
        <result property="runId"    column="run_id"    />
        <result property="runTermId"    column="run_term_id"    />
        <result property="runStuId"    column="run_stu_id"    />
        <result property="runStar"    column="run_star"    />
        <result property="runStarTime"    column="run_star_time"    />
        <result property="runDistribution"    column="run_distribution"    />
        <result property="runMaxdistribution"    column="run_maxDistribution"    />
        <result property="runDistance"    column="run_distance"    />
        <result property="runPathline"    column="run_pathLine"    />
        <result property="runDuration"    column="run_duration"    />
        <result property="runCalorie"    column="run_calorie"    />
        <result property="runEndTime"    column="run_end_time"    />
        <result property="runImg"    column="run_img"    />
        <result property="runAddtime"    column="run_addtime"    />
        <result property="runRemark"    column="run_remark"    />
        <result property="runIscomplete" column="run_iscomplete"/>
    </resultMap>

    <resultMap id="cqieTermResult" type="CqieTerm">
        <id property="termId" column="term_id"/>
        <result property="termName" column="term_name"/>
        <result property="termAddtime" column="term_addTime"/>
        <result property="termRemark" column="term_remark"/>
    </resultMap>

    <resultMap type="CqieSpe" id="CqieSpeResult">
    <result property="speId"    column="spe_id"    />
    <result property="speStuId"    column="spe_stu_id"    />
    <result property="speTermId"    column="spe_term_id"    />
    <result property="speApplytime"    column="spe_applytime"    />
    <result property="speApplymate"    column="spe_applymate"    />
    <result property="speRemark"    column="spe_remark"    />
    <result property="speIsAgree" column="spe_isAgree"/>
    </resultMap>



    <sql id="selectCqieScoreVo">
        select score_id, score_term_id, score_student_id, score_counts, score_result, score_remark from cqie_score
    </sql>

    <select id="selectCqieScoreListAll" parameterType="CqieScore" resultMap="CqieScoreResult">
        SELECT score.*,s.stu_no,s.stu_name,s.stu_sex,c.cla_name,t.term_name from cqie_score score
        left join cqie_student s on score.score_student_id = s.stu_id
        left join cqie_class_student cs on s.stu_id=cs.clastu_stu_id
        left join cqie_cla c on c.cla_id = cs.clastu_cla_id
        left join cqie_term t on t.term_id=score.score_term_id
        left join cqie_class_teacher ct on ct.clatea_cla_id = cs.clastu_cla_id
        left join sys_user u on ct.clatea_tea_id=u.user_id
        and u.del_flag = '0'
        <where>
            <if test="cqieTerm.termName != null and cqieTerm.termName !=''">
                and t.term_name like concat('%', #{cqieTerm.termName}, '%')
            </if>
            <choose>
                <when test="cqieCla.claName == null  or cqieCla.claName ==''">
                    <if test="sysUser.cqieCla.claName!=null and sysUser.cqieCla.claName!=''">
                        and c.cla_name like concat('%', #{sysUser.cqieCla.claName}, '%')
                    </if>
                </when>
                <otherwise>
                    <if test="cqieCla.claName != null  and cqieCla.claName !=''">
                        and c.cla_name like concat('%', #{cqieCla.claName}, '%')
                    </if>
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="selectCqieScoreListById" parameterType="CqieScore" resultMap="CqieScoreResult">
        SELECT score.*,s.stu_no,s.stu_name,s.stu_sex,c.cla_name,t.term_name from cqie_score score
        left join cqie_student s on score.score_student_id = s.stu_id
        left join cqie_class_student cs on s.stu_id=cs.clastu_stu_id
        left join cqie_cla c on c.cla_id = cs.clastu_cla_id
        left join cqie_term t on t.term_id=score.score_term_id
        left join cqie_class_teacher ct on ct.clatea_cla_id = cs.clastu_cla_id
        left join sys_user u on ct.clatea_tea_id=u.user_id
        and u.del_flag = '0'
        <where>
        <if test="cqieTerm.termName != null and cqieTerm.termName !=''">
            and t.term_name like concat('%', #{cqieTerm.termName}, '%')
        </if>
        <if test="cqieCla.claName != null and cqieCla.claName !=''">
            and c.cla_name like concat('%', #{cqieCla.claName}, '%')
        </if>
        <if test="sysUser.userId!=null and sysUser.userId!=''">
            and ct.clatea_tea_id=#{sysUser.userId}
        </if>
            <choose>
                <when test="cqieCla.claName == null or cqieCla.claName ==''">
                    <if test="sysUser.claId != null  and sysUser.claId != ''">
                        and ct.clatea_cla_id=#{sysUser.claId}
                    </if>
                </when>
                <otherwise>
                    <if test="cqieCla.claName != null  and cqieCla.claName != ''">
                        and c.cla_name like concat('%', #{cqieCla.claName}, '%')
                    </if>
                </otherwise>
            </choose>

        </where>
    </select>

    <select id="selectCqieScoreById" parameterType="Long" resultMap="CqieScoreResult">
        <include refid="selectCqieScoreVo"/>
        where score_id = #{scoreId}
    </select>

    <insert id="insertCqieScore" parameterType="CqieScore" useGeneratedKeys="true" keyProperty="scoreId">
        insert into cqie_score
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="scoreTermId != null">score_term_id,</if>
            <if test="scoreStudentId != null">score_student_id,</if>
            <if test="scoreCounts != null">score_counts,</if>
            <if test="scoreResult != null">score_result,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="scoreTermId != null">#{scoreTermId},</if>
            <if test="scoreStudentId != null">#{scoreStudentId},</if>
            <if test="scoreCounts != null">#{scoreCounts},</if>
            <if test="scoreResult != null">#{scoreResult},</if>
         </trim>
    </insert>

    <update id="updateCqieScore" parameterType="CqieScore">
        update cqie_score
        <trim prefix="SET" suffixOverrides=",">
            <if test="scoreTermId != null">score_term_id = #{scoreTermId},</if>
            <if test="scoreStudentId != null">score_student_id = #{scoreStudentId},</if>
            <if test="scoreCounts != null">score_counts = #{scoreCounts},</if>
            <if test="scoreResult != null">score_result = #{scoreResult},</if>
            <if test="scoreRemark !=null">score_remark = #{scoreRemark},</if>
        </trim>
        where score_student_id = #{scoreStudentId}
    </update>

    <delete id="deleteCqieScoreById" parameterType="Long">
        delete from cqie_score where score_id = #{scoreId}
    </delete>

    <delete id="deleteCqieScoreByIds" parameterType="String">
        delete from cqie_score where score_id in
        <foreach item="scoreId" collection="array" open="(" separator="," close=")">
            #{scoreId}
        </foreach>
    </delete>

    <select id="selectAllCla" resultMap="claResult">
        select cla_name,cla_id from cqie_cla
    </select>

    <select id="selectStudentByClaId" resultMap="studentResult" parameterType="int">
        select * from cqie_student s
         left join cqie_class_student cs on s.stu_id = cs.clastu_id
         where cs.clastu_cla_id=#{claId}
    </select>

    <select id="selectRuninfoByStuId" parameterType="Long" resultMap="CqieScoreResult">
        select r.run_term_id as score_term_id,r.run_stu_id as score_student_id,count(s.stu_id) as score_counts from cqie_run r
        left join cqie_student s on r.run_stu_id = s.stu_id
        where s.stu_id = #{stuId}
        and r.run_iscomplete=1
        and r.run_term_id = (select term_id from cqie_term order by term_id desc LIMIT 1 )
    </select>


    <insert id="insertCqieScoreByRunInfo" parameterType="CqieScore" useGeneratedKeys="true" keyProperty="scoreId">
        insert into cqie_score
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="scoreTermId != null">score_term_id,</if>
            <if test="scoreStudentId != null">score_student_id,</if>
            <if test="scoreCounts != null">score_counts,</if>
            <if test="scoreResult != null">score_result,</if>
            <if test="scoreRemark !=null">score_remark</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="scoreTermId != null">#{scoreTermId},</if>
            <if test="scoreStudentId != null">#{scoreStudentId},</if>
            <if test="scoreCounts != null">#{scoreCounts},</if>
            <if test="scoreResult != null">#{scoreResult},</if>
            <if test="scoreRemark !=null">#{scoreRemark},</if>
        </trim>
    </insert>


    <select id="selectSpeStudentByStuId" parameterType="Long" resultMap="CqieSpeResult">
        select spe.* from cqie_spe spe
         left join cqie_term t on spe.spe_term_id = t.term_id
         where spe.spe_stu_id=#{stuId}
         and spe.spe_term_id = (select term_id from cqie_term order by term_id desc LIMIT 1 )
    </select>

    <select id="selectLatestTerm" resultMap="cqieTermResult">
        SELECT * FROM `cqie_term` order by term_id desc LIMIT 1
    </select>



</mapper>