<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.CqieRunMapper">

    <resultMap type="CqieRun" id="CqieRunResult">
        <result property="runId"    column="run_id"    />
        <result property="runTermId"    column="run_term_id"    />
        <result property="runStuId"    column="run_stu_id"    />
        <result property="runStar"    column="run_star"    />
        <result property="runStarTime"    column="run_star_time"    />
        <result property="runDistribution"    column="run_distribution"    />
        <result property="runMaxdistribution"    column="run_maxDistribution"    />
        <result property="runDistance"    column="run_distance"    />
        <result property="runPathline"    column="run_pathLine"    />
        <result property="runDuration"    column="run_duration"    />
        <result property="runCalorie"    column="run_calorie"    />
        <result property="runEndTime"    column="run_end_time"    />
        <result property="runImg"    column="run_img"    />
        <result property="runAddtime"    column="run_addtime"    />
        <result property="runRemark"    column="run_remark"    />
        <result property="runIscomplete" column="run_iscomplete"/>
        <association property="student" column="stu_id" resultMap="studentResult"/>
        <association property="cqieClassStudent" column="clastu_id" resultMap="cqieClassStudentResult"/>
        <association property="cqieCla" column="cla_id" resultMap="claIdResult"/>
        <association property="cqieTerm" column="term_id" resultMap="cqieTermResult"/>
    </resultMap>

    <resultMap id="studentResult" type="CqieStudent">
        <id property="stuId" column="stu_id"/>
        <result property="stuNo" column="stu_no"/>
        <result property="stuName" column="stu_name"/>
        <result property="stuSex" column="stu_sex"/>
    </resultMap>
    
    <resultMap id="claIdResult" type="CqieCla">
        <id property="claId" column="cla_id"/>
        <result property="claName" column="cla_name"/>
        <result property="claDeptId" column="cla_dept_id"/>
        <result property="claName" column="cla_name"/>
        <result property="claAddtime" column="cla_addtime"/>
        <result property="claRemark" column="cla_remark"/>
    </resultMap>
    
    <resultMap id="cqieClassStudentResult" type="CqieClassStudent">
        <id property="claStuId" column="clastu_id"/>
        <result property="claId" column="clastu_cla_id"/>
        <result property="clastuStuId" column="clastu_stu_id"/>
        <result property="clastuAddtime" column="clastu_addtime"/>
        <result property="clastuRemark" column="clastu_remark"/>
    </resultMap>

    <resultMap id="cqieTermResult" type="CqieTerm">
        <id property="termId" column="term_id"/>
        <result property="termName" column="term_name"/>
        <result property="termAddtime" column="term_addTime"/>
        <result property="termRemark" column="term_remark"/>
    </resultMap>


    <sql id="selectCqieRunVo">
        select run_id, run_term_id, run_stu_id, run_star, run_star_time, run_distribution, run_maxDistribution, run_distance, run_pathLine, run_duration, run_calorie, run_end_time, run_img, run_addtime, run_remark,run_iscomplete from cqie_run
    </sql>

    <select id="selectCqieRunList" parameterType="CqieRun" resultMap="CqieRunResult">
       select run_id, run_term_id, run_stu_id, run_star, run_star_time, run_distribution, run_maxDistribution, run_distance, run_pathLine, run_duration, run_calorie, run_end_time, run_img, run_addtime, run_remark,run_iscomplete
       ,s.stu_no,s.stu_name,c.cla_name,cs.clastu_cla_id,t.term_name,t.term_id from cqie_run r
        left join cqie_class_student cs on r.run_stu_id = cs.clastu_stu_id
        left join cqie_student s on s.stu_id = r.run_stu_id
        left join cqie_cla c on c.cla_id = cs.clastu_cla_id
        left join cqie_term t on t.term_id = r.run_term_id
        <where>
          <if test="cqieTerm.termName != null and cqieTerm.termName !=''">
                and t.term_name like concat('%', #{cqieTerm.termName}, '%')
          </if>
          <if test="cqieCla.claName != null and cqieCla.claName !=''">
            and c.cla_name like concat('%', #{cqieCla.claName}, '%')
          </if>
          <if test="student.stuNo != null and student.stuNo !=''">
            and s.stu_no like concat('%', #{student.stuNo}, '%')
          </if>
          <if test="student.stuName != null and student.stuName !=''">
            and s.stu_name like concat('%', #{student.stuName}, '%')
          </if>
        </where>
    </select>

    <select id="selectCqieRunById" parameterType="Long" resultMap="CqieRunResult">
        <include refid="selectCqieRunVo"/>
        where run_id = #{runId}
    </select>

    <insert id="insertCqieRun" parameterType="CqieRun" useGeneratedKeys="true" keyProperty="runId">
        insert into cqie_run
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="runTermId != null">run_term_id,</if>
            <if test="runStuId != null">run_stu_id,</if>
            <if test="runStar != null">run_star,</if>
            <if test="runStarTime != null">run_star_time,</if>
            <if test="runDistribution != null">run_distribution,</if>
            <if test="runMaxdistribution != null">run_maxDistribution,</if>
            <if test="runDistance != null">run_distance,</if>
            <if test="runPathline != null">run_pathLine,</if>
            <if test="runDuration != null">run_duration,</if>
            <if test="runCalorie != null">run_calorie,</if>
            <if test="runEndTime != null">run_end_time,</if>
            <if test="runImg != null">run_img,</if>
            <if test="runIscomplete != null">run_iscomplete,</if>
            <if test="runAddtime != null">run_addtime,</if>
            <if test="runRemark != null">run_remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="runTermId != null">#{runTermId},</if>
            <if test="runStuId != null">#{runStuId},</if>
            <if test="runStar != null">#{runStar},</if>
            <if test="runStarTime != null">#{runStarTime},</if>
            <if test="runDistribution != null">#{runDistribution},</if>
            <if test="runMaxdistribution != null">#{runMaxdistribution},</if>
            <if test="runDistance != null">#{runDistance},</if>
            <if test="runPathline != null">#{runPathline},</if>
            <if test="runDuration != null">#{runDuration},</if>
            <if test="runCalorie != null">#{runCalorie},</if>
            <if test="runEndTime != null">#{runEndTime},</if>
            <if test="runImg != null">#{runImg},</if>
            <if test="runIscomplete != null">#{runIscomplete},</if>
            <if test="runAddtime != null">#{runAddtime},</if>
            <if test="runRemark != null">#{runRemark},</if>
        </trim>
    </insert>

    <update id="updateCqieRun" parameterType="CqieRun">
        update cqie_run
        <trim prefix="SET" suffixOverrides=",">
            <if test="runTermId != null">run_term_id = #{runTermId},</if>
            <if test="runStuId != null">run_stu_id = #{runStuId},</if>
            <if test="runStar != null">run_star = #{runStar},</if>
            <if test="runStarTime != null">run_star_time = #{runStarTime},</if>
            <if test="runDistribution != null">run_distribution = #{runDistribution},</if>
            <if test="runMaxdistribution != null">run_maxDistribution = #{runMaxdistribution},</if>
            <if test="runDistance != null">run_distance = #{runDistance},</if>
            <if test="runPathline != null">run_pathLine = #{runPathline},</if>
            <if test="runDuration != null">run_duration = #{runDuration},</if>
            <if test="runCalorie != null">run_calorie = #{runCalorie},</if>
            <if test="runEndTime != null">run_end_time = #{runEndTime},</if>
            <if test="runImg != null">run_img = #{runImg},</if>
            <if test="runIscomplete != null">run_iscomplete = #{runIscomplete},</if>
            <if test="runAddtime != null">run_addtime = #{runAddtime},</if>
            <if test="runRemark != null">run_remark = #{runRemark},</if>
        </trim>
        where run_id = #{runId}
    </update>

    <delete id="deleteCqieRunById" parameterType="Long">
        delete from cqie_run where run_id = #{runId}
    </delete>

    <delete id="deleteCqieRunByIds" parameterType="String">
        delete from cqie_run where run_id in
        <foreach item="runId" collection="array" open="(" separator="," close=")">
            #{runId}
        </foreach>
    </delete>

    <insert id="saveAllByIds" parameterType="String">
        insert into cqie_score
        <foreach item="runId" collection="array" open="(" separator="," close=")">
            #{runId}
        </foreach>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="scoreId != null">score_id,</if>
            <if test="scoreTermId != null">score_term_id,</if>
            <if test="scoreStudentId != null">score_student_id,</if>
            <if test="scoreCounts != null">score_counts,</if>
            <if test="scoreResult != null">score_result,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="scoreId != null">#{scoreId},</if>
            <if test="scoreTermId != null">#{scoreTermId},</if>
            <if test="scoreStudentId != null">#{scoreStudentId},</if>
            <if test="scoreCounts != null">#{scoreCounts},</if>
            <if test="scoreResult != null">#{scoreResult},</if>
        </trim>
    </insert>


</mapper>