<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('学期成绩列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>学期：</label>
                                <div class="col-xs-4">
                                    <select name="cqieTerm.termName" th:with="term=${@termService.selectCqieTermList(cqieTerm)}"class="form-control"  >
                                        <option value="">---请选择学期---</option>
                                        <option th:each="t:${term}" th:value="${t.termName}" th:text="${t.termName}">
                                        </option>
                                    </select>
                                </div>
                            </li>
                            <li>
                                <label>班级：</label>
                                <input type="text" name="cqieCla.claName"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-danger" onclick="saveScore()" shiro:hasPermission="system:runinfo:saveAll">
                    <i class="fa fa-check-square-o"></i> 期末存档
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:score:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:score:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:score:remove')}]];
        var prefix = ctx + "system/score";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "学期成绩",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'scoreId',
                    title: 'ID',
                    visible: false
                },
                {
                    field: 'scoreTermId',
                    title: '学期ID'
                },
                {
                    field: 'scoreStudentId',
                    title: '学生ID'
                },
                    {
                        field: 'student.stuNo',
                        title: '学号'
                    },
                    {
                        field: 'student.stuName',
                        title: '姓名'
                    },
                    {
                        field: 'student.stuSex',
                        title: '性别'
                    },
                    {
                        field: 'cqieCla.claName',
                        title: '班级'
                    },
                    {
                        field: 'cqieTerm.termName',
                        title: '学期'
                    },
                {
                    field: 'scoreCounts',
                    title: '跑步次数'
                },
                {
                    field: 'scoreResult',
                    title: '成绩'
                },
                    {
                        field: 'scoreRemark',
                        title: '备注'
                    }
               ]
            };
            $.table.init(options);
        });
        function saveScore() {
            $.modal.confirm("确认全部学生期末成绩汇总？", function() {
                $.operate.save(prefix + "/saveScore");
            })
        }
    </script>
</body>
</html>