<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('新增免跑申请')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: select2-css" />
    <th:block th:include="include :: bootstrap-fileinput-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-spe-add">
        <div class="form-group">
            <input id="speStuId" name="speStuId" class="form-control" type="hidden">
            <label class="col-sm-3 control-label">学号：</label>
            <div class="col-sm-8">
                <input id="stuNo" name="student.stuNo" class="form-control" type="text"  onclick="selectStudent()" shiro:hasPermission="system:spe:add:selectStudent" autocomplete="off">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">姓名：</label>
            <div class="col-sm-8">
                <input id="stuName" name="student.stuName" class="form-control" type="text" shiro:hasPermission="system:spe:add:selectStudent" autocomplete="off">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">学期：</label>
            <div class="col-sm-8">
                <select name="cqieTerm.termId" th:with="term=${@termService.selectCqieTermList(cqieTerm)}"class="form-control"  >
                    <option value="">---请选择学期---</option>
                    <option th:each="t:${term}" th:value="${t.termId}" th:text="${t.termName}">
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">申请时间：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <input name="speApplytime" class="form-control" placeholder="yyyy-MM-dd HH:mm:ss" type="text">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">证明材料：</label>
            <div class="col-sm-8">
                <input type="hidden" name="speApplymate">
                <div class="file-loading">
                    <input class="form-control file-upload" id="speApplymate" name="file" type="file">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-8">
                <textarea name="speRemark" class="form-control"></textarea>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: datetimepicker-js" />
<th:block th:include="include :: bootstrap-fileinput-js"/>
<script th:inline="javascript">
    var prefix = ctx + "system/spe/add"
    $("#form-spe-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(ctx + "system/spe/add", $('#form-spe-add').serialize());
        }
    }

    $("input[name='speApplytime']").datetimepicker({
        format: "yyyy-MM-dd HH:mm:ss",
        minView: "month",
        autoclose: true
    });

    $(".file-upload").fileinput({
        uploadUrl: '/common/upload',
        maxFileCount: 1,
        autoReplace: true
    }).on('fileuploaded', function (event, data, previewId, index) {
        $("input[name='" + event.currentTarget.id + "']").val(data.response.url)
    }).on('fileremoved', function (event, id, index) {
        $("input[name='" + event.currentTarget.id + "']").val('')
    })

    /* 分配学生-选择学生 */
    function selectStudent() {
        var url = prefix + '/selectStudent';
        $.modal.open("标题内容", url, '770', '380', function(index, layero) {
            // 获取弹窗参数（方式一）
            var body = layer.getChildFrame('body', index);
            var t = body.find('#bootstrap-table');
            // var tr = t.find('tr').eq(1);
            // var stuId = tr.find('td').eq(1).text();
            // var stuNo = tr.find('td').eq(2).text();
            // alert(stuId+stuNo);
            var chktd = t.find('input:checkbox:checked').eq(0).parent().parent();
            var speStuId = chktd.next().text();
            var stuNo = chktd.next().next().text();
            var stuName = chktd.next().next().next().text();
            var claName = chktd.next().next().next().next().text();
             $("#speStuId").val(speStuId);
             $("#stuNo").val(stuNo);
             $("#stuName").val(stuName);
            // alert(stuId+"-"+stuNo);
            layer.close(index);
            // 获取弹窗参数（方式二）
            // console.log($(layero).find("iframe")[0].contentWindow.document.getElementById("id").value);
        });
    }
</script>
</body>
</html>