<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>跑步详情</title>
    <th:block th:include="include :: header('跑步详情')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: bootstrap-fileinput-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-runinfo-detail" th:object="${cqieRun}">
        <input name="runId" th:field="*{runId}" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">学期：</label>
            <div class="col-sm-8">
                <input name="cqieTerm.termName" th:field="*{cqieTerm.termName}" class="form-control" type="text" readonly  unselectable="on">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">班级：</label>
            <div class="col-sm-8">
                <input name="cqieCla.claName" th:field="*{cqieCla.claName}" class="form-control" type="text" readonly  unselectable="on">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">学号：</label>
            <div class="col-sm-8">
                <input name="student.stuNo" th:field="*{student.stuNo}" class="form-control" type="text" readonly  unselectable="on">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">姓名：</label>
            <div class="col-sm-8">
                <input name="student.stuName" th:field="*{student.stuName}" class="form-control" type="text" readonly  unselectable="on">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">起点经纬度：</label>
            <div class="col-sm-8">
                <input name="runStar" th:field="*{runStar}" class="form-control" type="text" readonly  unselectable="on">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">开跑时间：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <input th:value="${#dates.format(cqieRun.runStarTime, 'yyyy-MM-dd HH:mm:ss')}" class="form-control" placeholder="yyyy-MM-dd" type="text" readonly  unselectable="on">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">平均配速：</label>
            <div class="col-sm-8">
                <input name="runDistribution" th:field="*{runDistribution}" class="form-control" type="text" readonly  unselectable="on">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">最高配速：</label>
            <div class="col-sm-8">
                <input name="runMaxdistribution" th:field="*{runMaxdistribution}" class="form-control" type="text" readonly  unselectable="on">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">运动距离：</label>
            <div class="col-sm-8">
                <input name="runDistance" th:field="*{runDistance}" class="form-control" type="text" readonly  unselectable="on">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">运动轨迹：</label>
            <div class="col-sm-8">
                <input name="runPathline" th:field="*{runPathline}" class="form-control" type="text" readonly  unselectable="on">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">运动时长：</label>
            <div class="col-sm-8">
                <input name="runDuration" th:field="*{runDuration}" class="form-control" type="text" readonly  unselectable="on">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">消耗卡路里：</label>
            <div class="col-sm-8">
                <input name="runCalorie" th:field="*{runCalorie}" class="form-control" type="text" readonly  unselectable="on">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">结束时间：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <input th:value="${#dates.format(cqieRun.runEndTime, 'yyyy-MM-dd HH:mm:ss')}" class="form-control" type="text" readonly  unselectable="on"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">跑步路径：</label>
            <div class="col-sm-8">
                <img th:src="@{(${cqieRun.runImg})}" style="width:100%;height:auto;">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">是否完成：</label>
            <div class="col-sm-8">
                <input name="runIscomplete" th:value="*{runIscomplete}==1? '完成':'未完成'" class="form-control" type="text" readonly  unselectable="on">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">添加时间：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <input th:value="${#dates.format(cqieRun.runAddtime, 'yyyy-MM-dd HH:mm:ss')}" class="form-control" placeholder="yyyy-MM-dd" type="text" readonly  unselectable="on">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-8">
                <textarea name="runRemark" class="form-control" readonly  unselectable="on">[[*{runRemark}]]</textarea>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: datetimepicker-js" />
<th:block th:include="include :: bootstrap-fileinput-js"/>
<script th:inline="javascript">
    var prefix = ctx + "system/runinfo";
    $("#form-runinfo-detail").validate({
        focusCleanup: true
    });
    $("input[name='runStarTime']").datetimepicker({
        format: "yyyy-mm-dd hh:ii:ss",
        minView: "month",
        autoclose: true
    });

    $("input[name='runEndTime']").datetimepicker({
        format: "yyyy-mm-dd hh:ii:ss",
        minView: "month",
        autoclose: true
    });

    $("input[name='runAddtime']").datetimepicker({
        format: "yyyy-mm-dd hh:ii:ss",
        minView: "month",
        autoclose: true
    });

    $(".file-upload").each(function (i) {
        var val = $("input[name='" + this.id + "']").val()
        $(this).fileinput({
            'uploadUrl': '/common/upload',
            initialPreviewAsData: true,
            initialPreview: [val],
            maxFileCount: 1,
            autoReplace: true
        }).on('fileuploaded', function (event, data, previewId, index) {
            $("input[name='" + event.currentTarget.id + "']").val(data.response.url)
        }).on('fileremoved', function (event, id, index) {
            $("input[name='" + event.currentTarget.id + "']").val('')
        })
        $(this).fileinput('_initFileActions');
    });
</script>
</body>
</html>