<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改跑步信息')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: bootstrap-fileinput-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-runinfo-edit" th:object="${cqieRun}">
        <input name="runId" th:field="*{runId}" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">学期ID：</label>
            <div class="col-sm-8">
                <input name="runTermId" th:field="*{runTermId}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">学生ID：</label>
            <div class="col-sm-8">
                <input name="runStuId" th:field="*{runStuId}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">经纬度：</label>
            <div class="col-sm-8">
                <input name="runStar" th:field="*{runStar}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">开跑时间：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <input name="runStarTime" th:value="${#dates.format(cqieRun.runStarTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">平均配速：</label>
            <div class="col-sm-8">
                <input name="runDistribution" th:field="*{runDistribution}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">最高配速：</label>
            <div class="col-sm-8">
                <input name="runMaxdistribution" th:field="*{runMaxdistribution}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">运动距离：</label>
            <div class="col-sm-8">
                <input name="runDistance" th:field="*{runDistance}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">运动轨迹：</label>
            <div class="col-sm-8">
                <input name="runPathline" th:field="*{runPathline}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">运动时长：</label>
            <div class="col-sm-8">
                <input name="runDuration" th:field="*{runDuration}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">消耗卡路里：</label>
            <div class="col-sm-8">
                <input name="runCalorie" th:field="*{runCalorie}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">结束时间：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <input name="runEndTime" th:value="${#dates.format(cqieRun.runEndTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">跑步路径：</label>
            <div class="col-sm-8">
                <input type="hidden" name="runImg" th:field="*{runImg}">
                <div class="file-loading">
                    <input class="form-control file-upload" id="runImg" name="file" type="file">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">是否完成：</label>
            <div class="col-sm-8">
                <input name="runIscomplete" th:field="*{runIscomplete}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">添加时间：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <input name="runAddtime" th:value="${#dates.format(cqieRun.runAddtime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-8">
                <textarea name="runRemark" class="form-control">[[*{runRemark}]]</textarea>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: datetimepicker-js" />
<th:block th:include="include :: bootstrap-fileinput-js"/>
<script th:inline="javascript">
    var prefix = ctx + "system/runinfo";
    $("#form-runinfo-edit").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-runinfo-edit').serialize());
        }
    }

    $("input[name='runStarTime']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='runEndTime']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='runAddtime']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $(".file-upload").each(function (i) {
        var val = $("input[name='" + this.id + "']").val()
        $(this).fileinput({
            'uploadUrl': '/common/upload',
            initialPreviewAsData: true,
            initialPreview: [val],
            maxFileCount: 1,
            autoReplace: true
        }).on('fileuploaded', function (event, data, previewId, index) {
            $("input[name='" + event.currentTarget.id + "']").val(data.response.url)
        }).on('fileremoved', function (event, id, index) {
            $("input[name='" + event.currentTarget.id + "']").val('')
        })
        $(this).fileinput('_initFileActions');
    });
</script>
</body>
</html>