<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('跑步信息列表')" />
    <th:block th:include="include :: select2-css" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>学期：</label>
                            <div class="col-xs-4">
                                <select name="cqieTerm.termName" id="cqieTerm.termName" class="form-control" th:with="term=${@termService.selectCqieTermList(cqieTerm)}">
                                        <option disabled >--请选择学期--</option>
                                        <option th:each="t:${term}" th:value="${t.termName}" th:text="${t.termName}">
                                </select>
                            </div>
                        </li>
                        <li>
                            <label>班级名称：</label>
                            <div class="col-xs-4">
                                <select name="cqieCla.claName" id="cqieCla.claName" class="form-control" th:with="cla=${@claService.selectCla()}">
                                    <option disabled >--请选择班级--</option>
                                    <option th:each="c:${cla}" th:value="${c.claName}" th:text="${c.claName}"></option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <label>学号：</label>
                            <div class="col-xs-4">
                            <input type="text" name="student.stuNo"/>
                            </div>
                        </li>
                        <li>
                            <label>姓名：</label>
                            <div class="col-xs-4">
                            <input type="text" name="student.stuName"/>
                            </div>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i> 搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i> 重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="btn-group-sm" id="toolbar" role="group">
<!--            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:runinfo:add">-->
<!--                <i class="fa fa-plus"></i> 添加-->
<!--            </a>-->
<!--          <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:runinfo:edit">-->
<!--                <i class="fa fa-edit"></i> 修改-->
<!--            </a>-->
<!--            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:runinfo:remove">-->
<!--                <i class="fa fa-remove"></i> 删除-->
<!--            </a>-->
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:runinfo:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: select2-js" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:runinfo:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:runinfo:remove')}]];
    var saveAllFlag = [[${@permission.hasPermi('system:runinfo:saveAll')}]];
    var detailFlag = [[${@permission.hasPermi('system:runinfo:detail')}]];
    var stuIdDatas = [[${@dict.getType('sys_student_class')}]];
    var prefix = ctx + "system/runinfo";
    var claAndTermDatas=[[${@permission.hasPermi('system:runinfo:claAndTermDatas')}]];

    $(function() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            detailUrl: prefix + "/detail/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            saveAllUrl:prefix + "/saveAll",
            claAndTermDatasUrl:prefix + "/claAndTermDatas",
            modalName: "跑步信息",
            showPageGo: true,
            columns: [{
                checkbox: true
            },
                {
                    field: 'runId',
                    title: 'ID',
                    sortable: true
                },
                {
                    field: 'cqieTerm.termName',
                    title: '学期',

                },
                {
                    field: 'cqieCla.claName',
                    title: '班级',

                },
                {
                    field: 'student.stuNo',
                    title: '学号',

                },
                {
                    field: 'student.stuName',
                    title: '姓名',

                },
                {
                    field: 'runStarTime',
                    title: '开跑时间',
                    sortable: true
                },
                {
                    field: 'runDistance',
                    title: '运动距离',
                    formatter: function(value,row,index) {
                        return value.toFixed(2)+"公里"
                    },
                    sortable: true
                },
                {
                    field: 'runDuration',
                    title: '运动时长',
                    formatter: function(value,row,index) {
                        return secondsFormat( value )
                    },
                    sortable: true
                },
                {
                    field: 'runEndTime',
                    title: '结束时间',
                    sortable: true
                },
                {
                    field:'runIscomplete',
                    title:'是否完成',
                    formatter: function(value,row,index) {
                        if (row.runIscomplete == 1)
                            return "完成";
                        else
                            return "未完成";
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + detailFlag + '" href="javascript:void(0)" onclick="$.operate.detail(\'' + row.runId + '\')" ><i class="fa fa-search"></i>详情</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);

        function secondsFormat( s ) {
            var day = Math.floor( s/ (24*3600) ); // Math.floor()向下取整
            var hour = Math.floor( (s - day*24*3600) / 3600);
            var minute = Math.floor( (s - day*24*3600 - hour*3600) /60 );
            var second = s - day*24*3600 - hour*3600 - minute*60;
            return  hour + "时" + minute + "分" + second + "秒";
        }
    });
</script>
</body>
</html>