<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('班级分配教师')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="role-form">
				    <input type="hidden" id="claId" name="claId" th:value="${cqieCla.claId}">
					<div class="select-list">
						<ul>
							<li><h3 th:text="${cqieCla.dept.deptName}"/></li>
							<li><h3><i class="fa fa-chevron-right" aria-hidden="true"></i></h3></li>
							<li><h3 th:text="|${cqieCla.claName}班|"/></li>
						</ul>
					</div>
<!--					<div class="select-list">-->
<!--						<ul>-->
<!--							<li>-->
<!--								登录名称：<input type="text" name="loginName"/>-->
<!--							</li>-->
<!--							<li>-->
<!--								手机号码：<input type="text" name="phonenumber"/>-->
<!--							</li>-->
<!--							<li>-->
<!--								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>-->
<!--							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>-->
<!--							</li>-->
<!--						</ul>-->
<!--					</div>-->
				</form>
			</div>
	        
	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="selectTeacher()" shiro:hasPermission="system:cla:add">
	                <i class="fa fa-plus"></i> 添加教师
	            </a>
<!--				<a class="btn btn-danger multiple disabled" onclick="cancelAuthUserAll()" shiro:hasPermission="system:cla:remove">-->
<!--		            <i class="fa fa-remove"></i> 批量取消-->
<!--		        </a>-->
		        <a class="btn btn-warning" onclick="closeItem()">
		            <i class="fa fa-reply-all"></i> 关闭
		        </a>
	        </div>
	        
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
		var removeFlag = [[${@permission.hasPermi('system:cla:remove')}]];
		var datas = [[${@dict.getType('sys_normal_disable')}]];
		var prefix = ctx + "system/cla/authTeacher";

		$(function() {
			var options = {
		        url: prefix + "/classallocatedList",
		        createUrl: prefix + "/add",
		        updateUrl: prefix + "/edit/{id}",
		        removeUrl: prefix + "/remove",
		        exportUrl: prefix + "/export",
		        importUrl: prefix + "/importData",
		        importTemplateUrl: prefix + "/importTemplate",
		        queryParams: queryParams,
		        sortName: "createTime",
		        sortOrder: "desc",
		        modalName: "用户",
		        columns: [{
		            checkbox: true
		        },
		        {
		            field: 'userId',
		            title: '教师ID',
		            visible: true
		        },
		        {
		            field: 'loginName',
		            title: '登录名称',
		            sortable: true
		        },
		        {
		            field: 'userName',
		            title: '教师名称'
		        },
		        {
		            field: 'email',
		            title: '邮箱'
		        },
		        {
		            field: 'phonenumber',
		            title: '手机'
		        },
				{
					field: "sysPost.postName",
				 	title: '岗位',
				},
		        {
		        	field: 'status',
		        	title: '用户状态',
		        	align: 'center',
		        	formatter: function (value, row, index) {
		        		return $.table.selectDictLabel(datas, value);
		        	}
		        },
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		                var actions = [];
		                actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="cancelAuthTeacher(\'' + row.userId + '\')"><i class="fa fa-remove"></i>离开该班</a> ');
		                return actions.join('');
		            }
		        }]
		    };
		    $.table.init(options);
		});
		
		function queryParams(params) {
			var search = $.table.queryParams(params);
			search.claId = $("#claId").val();
			return search;
		}
		
		/* 分配教师-选择教师 */
		function selectTeacher() {
			var url = prefix + '/selectTeacher/' + $("#claId").val();
		    $.modal.open("选择教师", url);
		}
		
		/* 分配教师-离开该班级 */
		function cancelAuthTeacher(userId) {
			$.modal.confirm("该教师确认要离开该班级吗？", function() {
				$.operate.post(prefix + "/cancel", { "claId": $("#claId").val(), "teacherId": userId });
		    })
		}
	</script>
</body>
</html>